@import '~bootstrap/scss/bootstrap';

body {
  /* GENERAL */
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  /* /GENERAL */

  .ms-wrapper {
    height: 100vh;
    background: lightgray;
    /* NAV */
      header {
        height: 4rem;
      }
     /* ASIDE */
      aside {
        float: left;
        height: calc(100% - 4rem);
        width: 15%;
      }

      main {
        height: calc(100% - 4rem);
        width: auto;
        overflow: auto;

        .ms-projects-container {
          a {
            display: block;
            text-decoration: none;
            border: 1px solid whitesmoke;
          }

          img {
            max-width: 20rem;
          }
        }
      }
  }
}
